<div ng-controller="shareCtrl as share">
	<div class="row">
  <div class="col-lg-12">
      <div class="ibox float-e-margins">
          <div class="ibox-title">
              <h5>Observations</h5>

              <div ibox-tools></div>
          </div>
          <div class="ibox-content">
              <div class="row">
                  <!-- <div class="col-sm-5 m-b-xs"><select class="input-sm form-control input-s-sm inline">
                      <option value="0">Option 1</option>
                      <option value="1">Option 2</option>
                      <option value="2">Option 3</option>
                      <option value="3">Option 4</option>
                  </select>
                  </div> -->
                  <div class="col-sm-3">
                      <div class="input-group"><input type="text" placeholder="Search" class="input-sm form-control"> <span class="input-group-btn">
                                      <button type="button" class="btn btn-sm btn-primary"> Go!</button> </span></div>
                  </div>
                  <div class="col-sm-4 m-b-xs">
                      <div class="col-sm-4 m-b-xs">
                           <button type="button" class="btn btn-sm btn-primary"> Select All</button>
                      </div>
                  </div>
              </div>
              <div class="table-responsive" data-ng-controller="ionSlider as slider">
                  <table class="table table-striped">
                      <thead>
                      <tr>

                          <th></th>
                          <th>Observation</th>
                          <th>Source</th>
                          <th>Last Entry</th>
                          <th>Dates</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr ng-repeat="observation in observations">
                          <td><input icheck type="checkbox" ng-model="main.checkOne"></td>
                          <td>{{observation.name}}
                          </td>
                          <td>HumanAPI</td>
                          <td>
                          	{{observation.data[0].createdAt | date:'yyyy-MM-dd'}}
                          </td>
                          <td><div ion-range-slider range-options="slider.ionSliderOptions4"></div></td>
                      </tr>
                      </tbody>
                  </table>
              </div>

          </div>
      </div>
  </div>
  </div>
  <div class="row">
  <div class="col-lg-12">
      <div class="ibox float-e-margins">
          <div class="ibox-title">
              <h5>Journal</h5>

              <div ibox-tools></div>
          </div>
          <div class="ibox-content">
              <div class="row">
                  <!-- <div class="col-sm-5 m-b-xs"><select class="input-sm form-control input-s-sm inline">
                      <option value="0">Option 1</option>
                      <option value="1">Option 2</option>
                      <option value="2">Option 3</option>
                      <option value="3">Option 4</option>
                  </select>
                  </div> -->
                  <div class="col-sm-3">
                      <div class="input-group"><input type="text" placeholder="Search" class="input-sm form-control"> <span class="input-group-btn">
                                      <button type="button" class="btn btn-sm btn-primary"> Go!</button> </span></div>
                  </div>
                  <div class="col-sm-4 m-b-xs">
                      <div class="col-sm-4 m-b-xs">
                           <button type="button" class="btn btn-sm btn-primary"> Select All</button>
                      </div>
                  </div>
              </div>
              <div class="table-responsive">
                  <table class="table table-striped">
                      <thead>
                      <tr>

                          <th></th>
                          <th>Entry</th>
                          <th>Created</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr ng-repeat="entry in journal">
                          <td><input icheck type="checkbox" ng-model="main.checkOne"></td>
                          <td>{{entry}}
                          </td>
                          <td> 28th Oct 2015</td>
                      </tr>
                      </tbody>
                  </table>
              </div>

          </div>
      </div>
  </div>
  </div>
</div>