@import '/less/style.less';
@nav-profil-pattern: url("../assets/images/patterns/header-profile.png") no-repeat;

.navbar {
	.navbar-brand {
		line-height: 25px;
	}
}

.profile-small {
	img {
		width: 50px;
	}
}

.observation-card {
	.date {
		margin: 0 15px;
	}
	.pull-right.submit {
		button {
			margin-right: 15px;
		}
	}
}